<%# This is our "friend" partial. %>
<p>Starting "Friend" Partial \/</p>

<% if friend %>
  <h2>Character: <%= friend.first_name + ' ' + friend.last_name %></h2>

  <p>Career: <%= friend.career %></p>

  <p>Famous sentence: <%= friend.famous_sentence %></p>

  <%# If there is an image_url, display the image. %>
  <% unless friend.image_url.blank? %>
    <%= image_tag(friend.image_url, alt: "#{friend.first_name} Photo", class: 'friend-image') %>
  <% end %>
<% end %>

<p>Ending "Friend" Partial /\</p>