<h1>Friends#chandler</h1>
<p>Find me in app/views/friends/chandler.html.erb</p>

<%# Rendering a partial, passing the @friend instance variable to it as a
    local variable named "friend" %>
<%= render partial: 'friend', locals: { friend: @friend } %>