// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-image {
  height: 200px;
  width: 200px;

  &:hover {
    opacity: 0.6;
    transition: 0.25s;
  }
}